<div class="row">
  <div class="span6 offset3">
    <h2>fees and donations</h2>
    <% if @fee %>
      <div class="alert alert-success alert-block">
        <h4>Success!</h4>
        Your fee has been activated.
      </div>
    <% else %>
      <div class="alert alert-error alert-block">
        <h4>Error!</h4>
        The fee you're trying to activate seem to be not existing.
      </div>
    <% end %>
  </div>
</div>
