<div class="row">
  <div class="span6 offset3">
    <h2>fees and donations</h2>
    <p class="lead">Enter your full name, the monthly fee you need to pay and the amount of your monthly donation.</p>
  </div>
  
  <div class="span4 offset4">
    <%= render 'form' %>
  </div>
</div>
