<div class="row-fluid">
  <div class="span4 offset4">
    <h2>fees and donations</h2>
    <p class="lead">Enter your full name, the monthly fee you need to pay and the amount of your monthly donation.</p>
    <p class="text-info">The fee has to be 8€ for discount membership or 30€ for full membership!</p>
    <%= render 'form' %>
  </div>
</div>
