<div class="row-fluid">
  <div class="span4 offset4">
    <h2>fees and donations</h2>
    <p class="lead">Enter your full name, the monthly fee you need to pay and the amount of your monthly donation.</p>
    <%= render 'form' %>
  </div>
</div>
